<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.house.dao.UserDao">
    <resultMap id="UserResult" type="com.house.pojo.User">
        <id column="id" property="id"></id>
        <result column="username" property="username"></result>
        <result column="phone" property="phone"></result>
        <result column="password" property="password"></result>
        <result column="type" property="type"></result>
        <result column="status" property="status"></result>
        <result column="info" property="info"></result>
    </resultMap>

    <sql id="condition">
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="username != null and username != ''">
                and username = #{username}
            </if>
            <if test="phone != null and phone != ''">
                and phone = #{phone}
            </if>
            <if test="password != null and password != ''">
                and password = #{password}
            </if>
            <if test="type != '' and type != null">
                and type = #{type}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
    </sql>

    <select id="select" resultMap="UserResult">
        select * from user
        <include refid="condition"></include>
        order by id asc
        <if test="currPage != null and pageSize != null">
            limit ${(currPage - 1) * pageSize}, #{pageSize}
        </if>
    </select>

    <select id="count" resultType="java.lang.Integer">
        select count(*) from user
        <include refid="condition"></include>
    </select>

    <insert id="insert">
        insert into user(username, phone, password, type, status, info)
        values (#{username}, #{phone}, #{password}, #{type}, #{status}, #{info})
    </insert>

    <update id="update">
        update user
        <set>
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="type != null and type != ''">
                type = #{type},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="info != '' and info != null">
                info = #{info},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete">
        delete from user
        where id in
        <foreach collection="userIds" item="userId" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>
</mapper>